---
layout: people
title: Ruo-yu Shang
---
<div class="container">
	<div class="people">
		<h2>Ruo-yu Shang</h2>
		</br>
		<img src="../../group_member_photo/full/full_rshang2.jpg" alt="Ruo-yu Shang" height="150" width="150" title="Ruo-yu Shang">
		</br></br>

		<div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">About me</h3>
      </div>
      <div class="panel-body">
       I am Ruo-Yu Shang, a PhD student in physics at University of Illinois at Urbana-Champaign. When I was 5-year old, my grandma gave me a spyglass to let me watching a pair of pica pica building their nest in our front yard. The nest was built on a tree. I watched the pair everyday and recorded their behaviors by drawing the birds in a drawing book of mine. Everyday in the twilight, when my grandma came home after she finished the grocery shopping of the day, I told her what the birds did on that day, how many eggs in the nest, what food they brought home for the baby birds, and I showed her my drawings. She always gave me a bottle of chocolate mile as a reward. Since then, I started my journey to become a scientist.
      </div>
    </div>

    <div class="panel panel-success publication">
      <div class="panel-heading">
        <h3 class="panel-title">Selected Publications</h3>
      </div>
      <div class="panel-body">

              <!-- Here is where you are supposed to put your publications. Follow the example below. -->


              <!-- Example -->
            	<!-- <a href="http://arxiv.org/abs/1503.03290"><b>Search for supersymmetry in events containing a same-flavour opposite-sign dilepton pair, jets, and large missing transverse momentum in 8 TeV pp collisions with the ATLAS detector</b> </a> </br>
		      		ATLAS Collaboration, <i>arXiv:1503.03290 [hep-ex], accepted by EPJC</i>. -->
      </div>
    </div>

   <!--  <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Working Status</h3>
      </div>
      <div class="panel-body">
        {% for job in site.data.rshang2_work %}
          <h4><b>{{ job.name }}</b></h4>
          <p>Status: {{job.status}}</p>
          {% if job.percentage <= 10 %}
            <div class="progress">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{job.percentage}}%"><span class="sr-only"></span></div>
            </div>
          {% elsif job.percentage <= 30 %}
            <div class="progress">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{job.percentage}}%"><span class="sr-only"></span></div>
            </div>
          {% elsif job.percentage <= 75 %}
            <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{job.percentage}}%"><span class="sr-only"></span></div>
            </div>
          {% elsif job.percentage <= 90 %}
            <div class="progress">
              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{job.percentage}}%"><span class="sr-only"></span></div>
            </div>
          {% else %}
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{job.percentage}}%"><span class="sr-only"></span></div>
            </div>
          {% endif %}
          <hr>
        {% endfor %}
      </div>
    </div> -->

	</div>
</div>