<!-- Welcoming poster -->
<div class="poster">
	<div class="container">
		<div class="left">
			<p><i>Begin your tour at</i></p>
		</div>
		<img class="ui_icon" src="img/UI_icon.jpg" alt="University of Illinois at Urbana-Champaign" title="University of Illinois at Urbana-Champaign">
		</br>
		<div class="right">
			<div class="big">
				<h1>Hooberman High Energy Group</h1>
			</div>
			<div class="small">
			<h2><i>under <a href="http://physics.illinois.edu/" title="Department of Physics">Department of Physics</a> at <a href="http://illinois.edu/" title="University of Illinois at Urbana-Champaign"> University of Illinois at Urbana-Champaign</a></i></h2>
			</div>
		</div>
	</div>
</div>
	